<!DOCTYPE html>
<html>
    <head>
        <title>The Generics | Store</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="styles.css" />
        <link rel="stylesheet" href="../css/slideshow.css" />
        <script src="https://checkout.stripe.com/checkout.js" defer></script>
        <script>
            var stripePublicKey = '<%= stripePublicKey %>'
        </script>
        <script src="store.js" defer></script>
    </head>
    <body>
    
        <header class="main-header">
            <nav class="main-nav nav">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="store.html">STORE</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li> <a href="/users/logout">Logout</a></li>
                    
                    <li class="search-box"><input class="search-text" type="text" placeholder="search"><a><i class="fas fa-search-plus"></i></a></li>
                    <li class="cart"><a href="cart.ejs"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
            <h1 class="band-name band-name-large">LHZ Groceries</h1>
        </header>

      
   

        <section class="container content-section">
        <h2 class="section-header">Vegetable</h2>
        <div class="shop-items">
            <% items.vegetable.forEach(function(item){ %>
                <div class="shop-item" data-item-id="<%= item.id %>">
                    <span class="shop-item-title"><%= item.name %></span>
                    <img class="shop-item-image" src="Images/<%= item.imgName %>">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$<%= item.price / 100 %></span>
                        <button class="btn btn-dark shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            <% }) %>
        </div>
    </section>
    <section class="container content-section">
        <h2 class="section-header">Meat</h2>
        <div class="shop-items">
            <% items.meat.forEach(function(item){ %>
                <div class="shop-item" data-item-id="<%= item.id %>">
                    <span class="shop-item-title"><%= item.name %></span>
                    <img class="shop-item-image" src="Images/<%= item.imgName %>">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$<%= item.price / 100 %></span>
                        <button class="btn btn-dark shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            <% }) %>
        </div>
    </section>
    <section class="container content-section">
        <h2 class="section-header">Seafood</h2>
        <div class="shop-items">
            <% items.seafood.forEach(function(item){ %>
                <div class="shop-item" data-item-id="<%= item.id %>">
                    <span class="shop-item-title"><%= item.name %></span>
                    <img class="shop-item-image" src="Images/<%= item.imgName %>">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$<%= item.price / 100 %></span>
                        <button class="btn btn-dark shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            <% }) %>
        </div>
    </section>
    <section class="container content-section">
        <h2 class="section-header">Fruit</h2>
        <div class="shop-items">
            <% items.fruit.forEach(function(item){ %>
                <div class="shop-item" data-item-id="<%= item.id %>">
                    <span class="shop-item-title"><%= item.name %></span>
                    <img class="shop-item-image" src="Images/<%= item.imgName %>">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$<%= item.price / 100 %></span>
                        <button class="btn btn-dark shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            <% }) %>
        </div>
    </section>
    <section class="container content-section">
        <h2 class="section-header">Rice and Grain</h2>
        <div class="shop-items">
            <% items.rice_and_grain.forEach(function(item){ %>
                <div class="shop-item" data-item-id="<%= item.id %>">
                    <span class="shop-item-title"><%= item.name %></span>
                    <img class="shop-item-image" src="Images/<%= item.imgName %>">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$<%= item.price / 100 %></span>
                        <button class="btn btn-dark shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            <% }) %>
        </div>
    </section>
        <section class="container content-section">
            <h2 class="section-header">CART ITEMS</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
         
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-dark btn-purchase" type="button">CHECKOUT</button>
        </section>
        <footer class="main-footer">
            <div class="container main-footer-container">
                
                <p class="band-name">stay connect to:</p>
                <ul class="nav footer-nav">
                    <li>
                        <a href="https://www.youtube.com" target="_blank"class='social_media'>
                            <img src="Images/YouTube-logo.png">
                        </a>
                    </li>
                    <li>
                    <a href="https://www.instagram.com" target="_blank" class='social_media'>
                        <img src="Images/Instagram-logo.png">
                    </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" target="_blank" class='social_media'>
                            <img src="Images/Facebook-logo.png">
                        </a>
                    </li>
                    <li>
                    <a href="https://www.linkedin.com" target="_blank" class='social_media'>
                        <img src="Images/LinkedIn-logo.png">
                    </a>
                </li>
                </ul>
            </div>
        </footer>

       
    </body>
</html>